# Firebase Client Configuration Examples
# Replace these with your actual Firebase project settings for production or local emulator
VITE_FIREBASE_API_KEY="AIzaSyAT_ooyJcfY7KQ7-h8btfdWo5T0bc_cOso"
VITE_FIREBASE_AUTH_DOMAIN="fir-5df30.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="fir-5df30"
VITE_FIREBASE_STORAGE_BUCKET="fir-5df30.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="284652236917"
VITE_FIREBASE_APP_ID="1:284652236917:web:3f275cd9d83302de9f883c"
